label{
    font-weight: bold;
    color: #594545;
}
span{
    color: red;
    font-style: italic;
}
.center_div{
    background-color: aquamarine;
}
/* index.html */
*
{
margin:0;
padding: 0;
font-family: sans-serif;
}

/* background image */
.main
{
width:100% ;
background: linear-gradient(to top, rgb(0,0,0,0.5)50%,rgb(0,0,0,0.5)50%),url(r.jpg);
background-position: center;
background-size: cover ;
height: 109vh;;

}

/* navbar */

.navbar
{

    background:whitesmoke;
    padding: 0 !important;
    height: 60px;
    width: 100%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
}

/* Avail edge on navbar */


label.logo
{
color: #009688;
font-size:  23px;
line-height: 80px;
padding: 0 100px;
font-weight: bold;
width: 120px;
cursor: pointer;

}

/* list position on navbar */

.navbar ul li
{
list-style: none;
display: inline-block;
margin: 0 40px;
position: relative;
}

/* list item style on navbar */


.navbar ul li a
{
text-decoration: none;
color:black;
text-transform: uppercase;

}

/* creating effect on list item effect when choosing the option */

.navbar ul li  ::after
{

content: '';
height: 3px;
width: 0;
background: #009688;
position: absolute;
left: 0;
bottom: -5px;
transition: 0.5s;
}

/* hovering on list option */

.navbar ul li :hover::after
{
width: 100%;
}

/* We creat the chance section */

.content
{
    width: 100%;
    position: absolute;
    top: 47%;
    transform: translateY(-50%);
    text-align: left;
    left: 3%;
    color:whitesmoke;
}
.content h1
{
font-size: 50px;
margin-top: 20px;

}
.content p
{

margin: 5px auto;
font-weight: 100;
line-height: 25px;

}

/* We creat the chance section */

.i h1
{

    font-size: 50px;
    margin-top: 20px;


}
.i p
{

    margin: 5px auto;
    font-weight: 100;
    line-height: 25px;

}

/* Learn More button section */

button
{

    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: black;
    cursor: pointer;
    
}
body{
    background-color: #D8D9CF;
}
